{% extends "UnoegohhAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="header-section">
            <h1>
                Настройки сайта<br>
                <small>Телефон и Email для связи</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li><a href="{{ path("unoegohh_admin_homepage") }}">Главная</a></li>
        <li>Настройки сайта</li>
    </ul>
    <div class="row">
        <div class="col-md-6">
            {% for i in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="fa fa-check-circle"></i> {{ i }}</h4>
                </div>
            {% endfor %}
            <div class="block">
                <div class="block-title">
                    <h2><strong>Параметры</strong></h2>
                </div>
                <form method="post" class="form-horizontal form-bordered">
                    {{ form_widget(form._token) }}
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Ссылка для "поделиться" на фейсбуке </label>

                        <div class="col-md-9">
                            {{ form_widget(form.facebookUrl, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Tumblr токен</label>

                        <div class="col-md-9">
                            {{ form_widget(form.tumblrToken, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Tumblr секретка</label>

                        <div class="col-md-9">
                            {{ form_widget(form.tumblrSecret, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Tumblr api ключ</label>

                        <div class="col-md-9">
                            {{ form_widget(form.tumblrAToken, {'attr': {'class': 'form-control'}}) }}
                            <span class="help-block">надо заполнить при нажатии ссылчки - Получить API ключ</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Ссылка на Вконтактик</label>

                        <div class="col-md-9">
                            {{ form_widget(form.vkLink, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Ссылка на Facebook</label>

                        <div class="col-md-9">
                            {{ form_widget(form.facebookLink, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Ссылка на Twitter</label>

                        <div class="col-md-9">
                            {{ form_widget(form.twitterLink, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Ссылка на Instagramm</label>

                        <div class="col-md-9">
                            {{ form_widget(form.instaLink, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Ссылка на Tumblr</label>

                        <div class="col-md-9">
                            {{ form_widget(form.tumblrLink, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Разделитель на Tumblr</label>

                        <div class="col-md-9">
                            {{ form_widget(form.tumblrDelimeter, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Название блога на Tumblr</label>

                        <div class="col-md-9">
                            {{ form_widget(form.tumblrBlogName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Сохранить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {#<div class="col-md-3">#}
            {#<a href="{{ path("unoegohh_admin_site_pref_api") }}" target="_blank" class="btn btn-success">Получить API ключ</a>#}
            {#<a href="{{ path("unoegohh_admin_site_pref_api_data") }}" target="_blank" class="btn btn-success">Авторищовать апи</a>#}
        {#</div>#}
    </div>
{% endblock %}