<form method="post" class="form-horizontal form-bordered">
    {{ form_widget(form._token) }}
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-email">Название</label>

        <div class="col-md-9">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-email">Название анг</label>

        <div class="col-md-9">
            {{ form_widget(form.nameEng, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-password">Url</label>

        <div class="col-md-9">
            {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>
    {% if form.parent %}
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-password">Родительский элемент</label>

        <div class="col-md-9">
            {{ form_widget(form.parent, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-password">Сортировка</label>
        <div class="col-md-9">
            {{ form_widget(form.orderNum, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="example-hf-password">Статическая страница</label>

        <div class="col-md-9">
            {{ form_widget(form.static_page, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block">Если не задана будет использован Url</span>
        </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Сохранить
            </button>
        </div>
    </div>
</form>