<!DOCTYPE html>
<title>Humans of moscow</title>
<script src="/admin/js/vend/jquery-1.11.0.min.js"></script>
<script src="/js/mansonry.js"></script>
<script src="/js/lightbox.min.js"></script>
<link rel="stylesheet" href="/css/lightbox.css"/>
{#<link rel="stylesheet" href="/css/screen.css"/>#}
<link rel="stylesheet" href="/index.css"/>
<script>
    $(function(){
        var $container = $('#container');

        $container.imagesLoaded( function(){
            $container.masonry({
                itemSelector : '.item',
                columnWidth: 340,
                "gutter": 18
                //"isFitWidth": true
            });
        });
    })
</script>
<body>
    <div id="wrapper">
        <header>
            <div id="language">
                <a href="/ru">RU</a> |
                <a href="/en">EN</a>
            </div>
            <div id="social">
                {% if pref().vkLink %}
                    <a href="{{ pref().vkLink }}" class="social_header_icon"><i class="header_vk icon"></i></a>
                {% endif %}
                {% if pref().tumblrLink %}
                    <a href="{{ pref().tumblrLink }}" class="social_header_icon"><i class="header_thumb icon"></i></a>
                {% endif %}
                {% if pref().instaLink %}
                    <a href="{{ pref().instaLink }}" class="social_header_icon"><i class="header_insta icon"></i></a>
                {% endif %}
                {% if pref().twitterLink %}
                    <a href="{{ pref().twitterLink }}" class="social_header_icon"><i class="header_twitter icon"></i></a>
                {% endif %}
            </div>
            <div id="facebook">
                <a id="face_header_link" href="{{ pref().facebookLink }}"></a>
                <h3>
                    {% if _locale == "ru" %}
                        Присоединяйся к нам
                    {% else %}
                        Join HOM on Facebook
                    {% endif %}</h3>
                <div class="fb-like" data-href="{% if pref().facebookUrl %}{{  pref().facebookUrl | raw }}{% endif %}" data-width="300" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>
        </header>
        <div id="banner"></div>
        <nav>
            <ul>
                <li><a href="#">О проекте</a></li>
                <li><a href="#"> Архив</a></li>
                <li><a href="#">Сми</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
        <div id="container">
            {% for post in posts %}
                <div class="item">
                    <a href="{{ post.bigPhoto }}" data-lightbox="image-1" data-title="
                        {% if _locale == "ru" %}
                            {{ post.descr | replace({('"'): "'"}) }}
                        {% else %}
                            {{ post.descrEng | replace({('"'): "'"}) }}
                        {% endif %}">
                        <img src="{{ post.photo }}" alt="" width="340px"/>

                    </a>
                    <div class="blog_helper">
                        {{ post.date |date('d.m.y') }}
                        <div class="blog_icons">
                            <a href="#"><i class="icon blog_flicr"></i></a>
                            <a href="#"><i class="icon blog_vk"></i></a>
                            <a href="#"><i class="icon blog_tumblr"></i></a>
                            <a href="#"><i class="icon blog_twitter"></i></a>
                        </div>
                    </div>
                    <div class="item_text">
                        {% if _locale == "ru" %}
                            {{ post.descr | raw }}
                        {% else %}
                            {{ post.descrEng | raw }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="fb-root"></div>

    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/{% if _locale == "ru" %}ru_RU{% else %}en_US{% endif %}/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter25520930 = new Ya.Metrika({id:25520930,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/25520930" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>