<nav>
    <ul>
{% for item in data %}

    <li>
        <a href="{% if item.staticPage %}/{{ _locale }}{% if item.staticPage.url %}/{{ item.staticPage.url }}{% endif %}{% elseif item.url %}{{ item.url }}{% else %}/{% endif %}" >

            {% if _locale == "ru" %}
                {{ item.name }}
            {% else %}
                {{ item.nameEng }}
            {% endif %}
        </a>
    </li>
{% endfor %}
    </ul>
</nav>